import { {{singularPascal}} } from '../../domain/entities/{{singularKebab}}.entity';
import { BaseDbPort } from '@/infra/ports/_base-db-port';

export abstract class {{singularPascal}}DbPort extends BaseDbPort<{{singularPascal}}> {
} 