import { MikroORM } from '@mikro-orm/core';
import { EntityManager } from '@mikro-orm/postgresql';
import { Test, TestingModule } from '@nestjs/testing';
import { {{singularPascal}}MikroOrmDbRepository } from '../{{singularKebab}}-mikro-orm-db.repository';
import { useUnitTestModule } from 'test/setup/base-unit-test.module';
import { use{{singularPascal}}Factory } from '@/infra/tests/factories/{{singularKebab}}.factory';
import { {{singularPascal}} } from '@/core/{{featureKebab}}/domain/entities/{{singularKebab}}.entity';
import { User } from '@lib/users/core/domain/entities/user.entity';

describe('{{singularPascal}}MikroOrmDbRepository (unit)', () => {
  let orm: MikroORM;
  let em: EntityManager;
  let repository: {{singularPascal}}MikroOrmDbRepository;

  beforeEach(async () => {
    const module: TestingModule = await Test.createTestingModule({
      imports: [useUnitTestModule()],
      providers: [{{singularPascal}}MikroOrmDbRepository],
    }).compile();

    orm = module.get<MikroORM>(MikroORM);
    em = orm.em as EntityManager;
    repository = module.get<{{singularPascal}}MikroOrmDbRepository>({{singularPascal}}MikroOrmDbRepository);
  });

  afterEach(() => {
    jest.resetAllMocks();
  });

  it('should be defined', () => {
    expect(repository).toBeDefined();
  });
}); 